{{- -}}
<table border="25" class="table-auto border-spacing-5">
	<caption class="text-lg font-bold"><a href="{{ .Id }}">Appointments for Dr. {{ .Doctor }}</a></caption>
	<tr>
		<th>Serial</th>
		<th>Patient</th>
		<th>Estimated Time</th>
		<th>Estimated Duration</th>
	</tr>
    {{ if not .Appointments }}
    <tr>
        <td colspan="4">Dr. {{ .Doctor }} currently has no appointments</td>
    </tr>
    {{ end }}
    {{ range .Appointments }}
    <tr>
        <td>{{ .Patient }}</td>
        <td>{{ .Start }}</td>
        <td>{{ .Duration }}</td>
    </tr>
    {{ end }}
</table>